html {
  -webkit-app-region: drag;
}
*{
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 80rem;
  padding: 2rem;
}

img {
  height: 100%;
  width: auto;
}
.duck {
  position: relative;
  width: 10rem;
  height: 9.5rem;
  animation: rubber-ducky 10s infinite linear;
}
@keyframes rubber-ducky {
  0% {
    bottom: 0;
  }
  10% {
    bottom: -1rem;
    transform: translateX(2rem);
  }
  20% {
    transform: translateX(4rem) rotate(-20deg);
  }
  30% {
    bottom: 0;
  }
  40% {
    transform: translateX(5rem) rotate(5deg);
  }
  47% {
    transform: translateX(6rem) rotateY(0deg);
    /*background-color: white;*/
  }
  50% {
    bottom: -1rem;
    transform: translateX(7rem) rotateY(180deg);
  }
  60% {
    transform: translateX(6rem) rotateY(180deg) rotate(10deg);
  }
  70% {
    transform: translateX(5rem) rotateY(180deg) rotate(-20deg);
  }
  80% {
    bottom: 0;
    transform: translateX(4rem) rotateY(180deg) rotate(0deg);
  }
  90% {
    transform: translateX(2rem) rotateY(180deg) rotate(-10deg);
  }
  97% {
    transform: rotateY(180deg);
  }
  100% {
    transform: translateX(0) rotateY(0deg) rotate(0deg);
  }
}
