html {
  -webkit-app-region: drag;
}
*{
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 80rem;
  padding: 2rem;
  overflow-y : hidden
}

img {
  height: 100%;
  /*width: auto;*/
}
#wrapper{
  transition: opacity .2s ease-in-out;
}
.duck {
  position: relative;
  /*width: 10rem;*/
  height: 9.5rem;
  transition: all 1s ease-in-out;

  /*height: 100%;*/
  /*width: auto;*/
}

.walking-duck{
  animation: rubber-ducky 10s infinite linear;
}
/*.callout{*/
/*  width: 245px;*/
/*  height: 200px;*/
/*  position: relative;*/
/*}*/
/*.callout-img{*/
/*  width: inherit;*/
/*  height: inherit;*/
/*}*/
/*.callout-text{*/
/*  position: absolute;*/
/*  width: 230px;*/
/*  height: inherit;*/
/*  padding: 10px 80px 20px 20px;*/
/*  left: 0px;*/
/*  top: 0px;*/
/*  font-size: .8rem;*/
/*}*/

body {
  font-family: Helvetica;
  font-size: 13px;
}

.wrapper{
  display: flex;
  gap: 1.3rem;
  align-items: center;
}
div.callout {
  /*height: 60px;*/
  max-height: 50px;
  /*width: 90px;*/
  max-width: 90px;
  float: left;
  top: -15px;
  left:-20px;
  transition: all 1s ease-in-out;
}
.callout_walking{
  animation: callout-anim 10s infinite linear;
}

div.callout {
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f3f3f3);
  position: relative;
  color: #4b4b4b;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(215, 215, 215, 0.21);
  /*margin: 25px;*/
  min-height: 25px;
  min-width: 25px;
  border: 1px solid #dedede;
  transition: all 1s ease-in-out;
  /*text-shadow: 0 0 1px #000;*/

  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

.callout::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
}

.callout.top::before {
  left: 45%;
  bottom: -20px;
  border-top: 10px solid #F3F3F3FF;
}

.callout.bottom::before {
  left: 45%;
  top: -20px;
  border-bottom: 10px solid #F3F3F3FF;
}

.callout.left::before {
  right: -20px;
  top: 40%;
  border-left: 10px solid #F3F3F3FF;
}

.callout.right::before {
  left: -20px;
  top: 30%;
  border-right: 10px solid #F3F3F3FF;
}

.callout.top-left::before {
  left: 7px;
  bottom: -20px;
  border-top: 10px solid #F3F3F3FF;
}

.callout.top-right::before {
  right: 7px;
  bottom: -20px;
  border-top: 10px solid #F3F3F3FF;
}
.callout.top-left::before {
  left: 7px;
  bottom: -20px;
  /*left: -20px;*/
  /*top: 40%;*/
  border-right: 10px solid #F3F3F3FF;
}


@keyframes rubber-ducky {
  0% {
    bottom: 0;
  }
  10% {
    bottom: -1rem;
    transform: translateX(1rem);
  }
  20% {
    transform: translateX(3rem) rotate(-20deg);
  }
  30% {
    bottom: 1rem;
  }
  40% {
    transform: translateX(4rem) rotate(5deg);
  }
  47% {
    transform: translateX(6rem) rotateY(0deg);
    /*background-color: white;*/
  }
  50% {
    bottom: -1rem;
    transform: translateX(7rem) rotateY(180deg);
  }
  60% {
    transform: translateX(6rem) rotateY(180deg) rotate(10deg);
  }
  70% {
    transform: translateX(4rem) rotateY(180deg) rotate(-20deg);
  }
  80% {
    bottom: 0;
    transform: translateX(2rem) rotateY(180deg) rotate(0deg);
  }
  90% {
    transform: translateX(1rem) rotateY(180deg) rotate(-10deg);
  }
  97% {
    transform: rotateY(180deg);
  }
  100% {
    transform: translateX(0) rotateY(0deg) rotate(0deg);
  }
}
@keyframes callout-anim {
  0% {
    /*bottom: 0;*/

  }
  10% {
    /*bottom: -1rem;*/

    transform: translateX(1rem);
  }
  20% {
    transform: translateX(3rem) ;
  }
  30% {
    /*bottom: 1rem;*/
  }
  40% {
    transform: translateX(4rem);
  }
  47% {
    transform: translateX(6rem) ;
    /*background-color: white;*/
  }
  50% {
    /*bottom: -1rem;*/
    transform: translateX(7rem) ;
  }
  60% {
    transform: translateX(6rem) ;
  }
  70% {
    transform: translateX(4rem) ;
  }
  80% {
    /*bottom: 0;*/
    transform: translateX(2rem) ;
  }
  90% {
    transform: translateX(1rem) ;
  }
  97% {
    /*transform: rotateY(180deg);*/
  }
  100% {
    transform: translateX(0) ;
  }
}
